/*Тут находятся все переменныйе */
:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #707070;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-famyle-base: 'Heebo', sans-serif;
    --font-famyle-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --trunsition-duration: 0.2s;
}